<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day1_python/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Python Data Types

## PETE 2061 Lab 2 Workbook 

## THIS IS DUE BY 10:20 AM TODAY

<a id='top'></a>

<a id='variables'></a>
## Decline Curve Analysis
Wells A, B, and C flow with an initial flow rate ($q_i$) of 5,000 bopd (barrels of oil per day), and have a continuous initial decline rate ($D_i$) of 20% per year. Well A declines exponentially, while well B declines hyperbolically, with a b-exponent of 0.5, and well C declines harmonically (this means that b = 0). <br><br>

Step 1. Import the math library (so that the exponential function is available). <br>

In [133]:
import math

Step 2. Create variables named q_i, D_i and b, and assign them to the given initial flow rate, initial decline rate, and hyperbolic b-exponent of 0.5, respectively. <br>

In [67]:
q_i = 5000
D_i = .2
b = math.exp(.5)

1.6487212707001282

Step 3. Using the list() and range() functions, create a list named t, and use it store time in years; starting from 0 to 3 years, and in increments of 1 year. The first item in list t will be 0, and the last item will be 3.<br>

In [57]:
intRange = range(0,1,2,3)
listT = list(intRange)

TypeError: range expected at most 3 arguments, got 4

Step 4. Create a list named q_A, and fill it with four zeros. <br>

In [4]:
listq_A = [0,0,0,0]

Step 5. Also create lists named q_B and q_C and let them store four zeros each. Note that q_A, q_B and q_C correspond to the flow rates of wells A, B and C, respectively. <br>

In [5]:
listq_B = [0,0,0,0]
listq_C = [0,0,0,0]

Step 6. Using the appropriate equation for well A, 
    (a) compute the its rate at a time of 0 years, and store it in the first index of the list, q_A. Double-check that your result for this is equal to the initial flow rate.
    (b) compute the its rate after 1 year and store it in the second index of the list, q_A.
    (c) compute the its rate after 2 years and store it in the third index of the list, q_A.
    (d) compute the its rate after 3 years and store it in the fourth index of the list, q_A. <br>

In [144]:
q0 = math.exp(-.2 * 0) * 5000
q1 = math.exp(-.2 * 1) * 5000
q2 = math.exp(-.2 * 2) * 5000
q3 = math.exp(-.2 * 3) * 5000

qlist = [q0, q1, q2, q3]

Step 7. Print out list q_A. <br>

In [122]:
print(q_Alist)

[5000.0, 4093.653765389909, 3351.600230178197, 2744.058180470132]

Step 8. Using the appropriate equation for wells B and C, compute and store the corresponding four rates in q_B and q_C. This is similar to the steps in 6 (a) through (d), but with the hyperbolic and harmonic decline curve equations, respectively. <br>

In [92]:
q_B1 = ((5000) / (1 + .5 * .2 * 0) ** (1 / .5))

q_B2 = ((5000) / (1 + .5 * .2 * 1) ** (1 / .5))

q_B3 = ((5000) / (1 + .5 * .2 * 2) ** (1 / .5))

q_B4 = ((5000) / (1 + .5 * .2 * 3) ** (1 / .5))

q_Blist = [q_B1, q_B2, q_B3, q_B4]
q_C1 = ((5000) / (1 + .2 * 0))

q_C2 = ((5000) / (1 + .2 * 1))

q_C3 = ((5000) / (1 + .2 * 2))

q_C4 = ((5000) / (1 + .2 * 3))

q_Clist = [q_C1, q_C2, q_C3, q_C4]

Step 9. Print out lists q_B and q_C <br>

In [93]:
print(q_Blist, q_Clist)

[5000.0, 4132.231404958677, 3472.222222222222, 2958.5798816568044] [5000.0, 4166.666666666667, 3571.4285714285716, 3125.0]

Step 10. Using all that you have learned so far, compute the corresponding cumulative production (Q_A, Q_B and Q_C) using the analytical expressions in your lecture notes. Print out the four items in each of these three lists. <br>

In [140]:
Q_A1 = (5000 - q0) / (.2)
Q_A2 = (5000 - q1) / (.2)
Q_A3 = (5000 - q2) / (.2)
Q_A4 = (5000 - q3) / (.2)
Alist = [Q_A1, q_A2, Q_A3, Q_A4]
print(Alist)

Q_B1 = (5000 - q_B1) / (.2)
Q_B2 = (5000 - q_B2) / (.2)
Q_B3 = (5000 - q_B3) / (.2)
Q_B4 = (5000 - q_B4) / (.2)
Blist = [Q_B1, Q_B2, Q_B3, Q_B4]
print(Blist)

Q_C1 = (5000 - q_C1) / (.2)
Q_C2 = (5000 - q_C2) / (.2)
Q_C3 = (5000 - q_C3) / (.2)
Q_C4 = (5000 - q_C4) / (.2)
Clist = [Q_C1, Q_C2, Q_C3, Q_C4]
print(Clist)

[0.0, 3351.600230178197, 24542.109027781644, 24938.03119558334]
[0.0, 4338.842975206617, 7638.888888888889, 10207.100591715976]
[0.0, 4166.666666666665, 7142.857142857142, 9375.0]

Step 11. Using the Trapezoidal rule for well A, compute the volume of oil (in barrels) produced between:
    (a) time = 0 and time = 1 year
    (b) time = 1 and time = 2 years
    (c) time = 2 and time = 3 years. <br>

In [146]:
print(qlist)
q_a = .5[q1 + q0] * (1 - 0)
q_b = .5[q2 + q1] * (2 - 1)
q_c = .5[q3 + q2] * (3 - 2)

[5000.0, 4093.653765389909, 3351.600230178197, 2744.058180470132]

TypeError: 'float' object is not subscriptable

Step 12. Add up the three results from 11(a), (b) and (c) to obtain the cumulative production for well A after 3 years. <br>

In [132]:
a = 4546.8269
b = 3372.627
c = 2812.8292
sum = (a + b + c)
print(sum)

10732.2831

Step 13. Compare the result from Step 12 (a numerical integration) to the result stored in the last item in list Q_A (an exact integration). Compute the relative error (in %) of the numerical integration. <br>

In [149]:
E_t = (24938.03119558334 - 10732.2831)
e_rel = ((E_t) / (24938.03119558334)) * 100
print(e_rel)

56.96419249848101